* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    background-color: white;
    background-image: url("images/bibackground.jpg");
    font-family: 'Inter', sans-serif;
}

/* Adjust main container to accommodate sticky navbar */
.main-container {
  margin-top: 130px; /* Adjust according to the height of the sticky navbar */
}

.sticky-top {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensures it stays on top of other content */
}

/* Top bar styles */
.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #CBDDD1;
    position: relative;
}

.left-section {
    display: flex;
    align-items: center;
}

/* Logo styles */
.logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.logo img {
    width: 90px;
    height: 90px;
}

/* Search bar styles */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px 10px;
    margin: 0;
    background-color: #CBDDD1;
}

.search-container a {
    text-decoration: none; /* Remove underline from links */
    color: gray; /* Black text color */
    margin-left: 15px;
}

.search-container select, 
.search-container input {
    padding: 10px 20px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 90%;
    margin-right: 10px;
    font-size: 16px;
}

.search-container select {
    width: 200px;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMCA2Ij48cGF0aCBkPSJNNSAwTDkuOSAzLjcgNSAwWiIgZmlsbD0iI2NjYyIvPjwvc3ZnPg==') no-repeat right 10px center;
    background-size: 12px;
    cursor: pointer;
}

.search-button{
    padding: 10px 20px;
    border: none;
    background-color: rgb(98, 164, 149);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.search-button:hover{
    background-color: #78b1a4;
}

.categories {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 20px;
    margin-left: 20px;
    flex-shrink: 0;		/* Do not allow categories to narrow */
}

.categories a {
	font-size: 14px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.categories a:hover {
    color: #007BFF;
}

/* User info section styles */
.user-info {
	flex-grow: 1;		/* user-info occupies the remaining space */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #CBDDD1; /* Light greenish background color */
    padding: 10px 20px;
    flex-shrink: 0;
}

.user-info span {
    margin-right: 30px;
    color: black;
    font-weight: bold;
}

/* Arrow down */
.arrow-down {
    display: inline-block;
    margin-left: 10px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid black; /* Arrow color */
}

/* Container for dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Trigger button styling */
.dropbtn {
    background-color: #CBDDD1; /* Background color of the button */
    color: black; /* Text color */
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Drop down content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff; /* Background color of drop down items */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Shadow effect */
    z-index: 1;
    min-width: 160px; /* Minimum width of the drop down */
    padding: 12px 16px;
    border-radius: 4px; /* Rounded corners */
}

/* Links inside the drop down */
.dropdown-content a {
    color: black; /* Text color */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of drop down links on hover */
.dropdown-content a:hover {
    background-color: #c0c0c0; /* Background color on hover */
}

/* Show the drop down menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


.user-func {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.user-func a {
    text-decoration: none; /* Remove underline from links */
    font-weight: bold;
    color: black; /* Black text color */
}

.user-func a img {
    width: 20px; /* Adjust the width of the images */
    height: auto;
}


/* Notification dropdown styles */
.notification-dropdown {
    display: none;
    position: absolute;
    right: 0;
    margin-top: 10px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 8px;
    width: 300px;
    z-index: 1;
    max-height: 400px;
    overflow-y: auto;
}

.notification-dropdown.show {
    display: block;
}

.notification-header {
    padding: 10px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
}

.notification-content {
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
}

.notification-content p {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.notification-content p:last-child {
    border-bottom: none;
}

.notification-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.notification-item:hover {
    background-color: #f9f9f9;
}

.no-notification {
    display: none;
    text-align: center;
    padding: 20px;
    font-size: 1.2em;
    color: #000000;
}

.no-notification img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 50%;
    padding: 10px;
}

.container h3 {
    margin-bottom: 5px;
    text-decoration: underline;
}

.product-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.mySlides {
    display: none;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot-container {
    text-align: center;
    padding: 10px;
    background-color: transparent;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

img {
    vertical-align: middle;
    max-width: 100%;
    border-radius: 10px;
    max-height: 300px;
}

.remind-me {
    display: block;
    padding: 10px 20px;
    background-color: #7D9b76; /* Dark green background */
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.remind-me:hover {
    background-color: #1F5014;
}

.product-info {
    margin-top: 20px;
    
}

.product-info ul {
    list-style: none;
    padding: 0;
}

.product-info ul li {
    margin-bottom: 10px;
    font-size: 16px;
}

.product-description {
    margin-top: 20px;
}

.footer {
    background-color: #CBDDD1;
    color: white;
    padding: 50px 0;
    text-align: left;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    margin: 20px;
}

.footer-column h3 {
    color: #457D58;
    margin-bottom: 15px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #253439;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: #00aaff;
}

.footer-column p {
    margin-top: 15px;
    margin-bottom: 2px;
    color: #253439;
}

.social-icons a {
    color: #253439;
    font-size: 20px;
    margin-right: 10px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #00aaff;
}